@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb {
    background: #555555;
}

::-webkit-scrollbar-thumb:hover {
    background: #555555;
}

a:link, a:visited {
    color: #FFF;
}
body {
    color: #FFF;
    text-align: center;
    background-color: #1d1e20;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}
.border {
    border: solid;
    font-size: 15px;
    border-radius: 10px;
    border-color: #FFF;
    display: inline-block;
}
.text-border {
    padding: 10px;
}

.title {
    color: #FFF;
    text-decoration: underline;
}

.bild {
    height: 24px;
    width: 24px;
    padding-left: 5px;
}

.underlined {
    text-decoration: underline;
}